<p>Last update : {{ lastUpdate | async | date: 'short' }}</p>
<ul class="list-group">
  <app-device *ngFor="let device of devices; let i=index" [deviceName]="device.name" [deviceStatus]="device.status" [index]="i"></app-device>
</ul>
<div class="row">
  <div class="col-lg-12 text-center">
    <button class="mt-2 btn btn-success" [disabled]="!isAuth" (click)="onOn()">Turn all devices on</button>
    <button class="mt-2 ml-2 btn btn-danger" [disabled]="!isAuth" (click)="onOff()">Turn all devices off</button>
  </div>
</div>
